<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>favorite </title>
</head>
<body>
    
<header>
    <h1>
        My Favorite Movies :
    </h1>
</header>
<main>

<div class="allContainer">

<%data.forEach(val=>{%>

<div class="container">

    <img src="<%=val.image%>" alt="">
    <h2><%=val.title%></h2>
    <h3><%=val.language%></h3>
    <h4><%=val.vote%></h4>
    <p><%=val.overview%></p>

    
<a href="/details/<%=val.id%>"><button >show details</button></a>


</div>


<%})%>

</div>

</main>

</body>
</html>